.crew-card-wrapper{
    height: 250px;
    width: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.crew-card-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.crew-card-wrapper img:hover{
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
}

.crew-card-wrapper p{
    position: absolute;
    bottom: 15px;
    background: rgba(0,0,0,0.4);
}

