@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,::before,::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #2D3436;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    
}

::-webkit-scrollbar{
    display: none;
}




