.movie-page-wrapper{
    /* border: 2px solid brown; */
    height: auto;
    width: 100%;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #0c162b;

}